<ion-header>
  <ion-toolbar>
    <ion-title>
      SAGGEZZA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="employeecontent">
		<div class="employeecontentheader">
		</div>
		<div class="employeecontentcontent">
			<ion-card class="approvedexpenses">
				<ion-card-header>
					<div class="">
						<ion-card-title float="left">Approved</ion-card-title>
					</div>
				</ion-card-header>

				<ion-card-content>
					This is where all the approved expenses goes to<br>
					<ion-button href="viewapprove" class="ionic-float-right">View more</ion-button>
				</ion-card-content>
			</ion-card>

			<ion-card class="rejectedexpenses">
				<ion-card-header>
					<ion-card-title>Rejected</ion-card-title>
					<ion-button href="viewreject">View more</ion-button>
				</ion-card-header>

				<ion-card-content>
					This is where all the rejected expenses goes to
				</ion-card-content>
			</ion-card>

		</div>
	</div>
</ion-content>
